#stacked-page {
  width: 100%;
  height: max-content;
  margin-top: 20px;
}

.stacked-title {
  padding: 10px 50px;
  font-size: 25px;
}

.stacked-table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.stacked-tab-holder {
  width: 100%;
  padding: 50px;
  z-index: 1;
}
